@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="6e9e6e64-2ab0-a9ab-f0f0-dda15e18098a"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    filter: blur(9px);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3e5672d5-1720-04d5-e5f7-ff5ce2ecb09d"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3e5672d5-1720-04d5-e5f7-ff5ce2ecb083"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3e5672d5-1720-04d5-e5f7-ff5ce2ecb085"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3e5672d5-1720-04d5-e5f7-ff5ce2ecb08f"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a00a7565-446a-3394-c30b-da1f329a96e6"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a00a7565-446a-3394-c30b-da1f329a96f3"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a00a7565-446a-3394-c30b-da1f329a96fb"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a00a7565-446a-3394-c30b-da1f329a96ea"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a00a7565-446a-3394-c30b-da1f329a96ec"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff94856"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff94847"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff94854"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff9484b"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff9483e"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff94868"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff9483f"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff94862"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff9485f"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff94859"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff94841"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff9484d"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff94866"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff94850"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7bd85c91-0951-fdd1-0282-83912ff9485d"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ec07f0f3-e07b-1ce2-eec6-b743cc1f427a"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ec07f0f3-e07b-1ce2-eec6-b743cc1f427c"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2d97d94d-2e84-cbf6-a22b-2e07c0ce6064"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2d97d94d-2e84-cbf6-a22b-2e07c0ce6056"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2d97d94d-2e84-cbf6-a22b-2e07c0ce6058"] {
    -webkit-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2d97d94d-2e84-cbf6-a22b-2e07c0ce6066"] {
    -webkit-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2d97d94d-2e84-cbf6-a22b-2e07c0ce606b"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2d97d94d-2e84-cbf6-a22b-2e07c0ce606d"] {
    -webkit-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2d97d94d-2e84-cbf6-a22b-2e07c0ce605f"] {
    -webkit-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2d97d94d-2e84-cbf6-a22b-2e07c0ce6053"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f0825499-2b16-58a2-24ee-d5b8bedbe8fa"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f0825499-2b16-58a2-24ee-d5b8bedbe8f3"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f0825499-2b16-58a2-24ee-d5b8bedbe8f6"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f0825499-2b16-58a2-24ee-d5b8bedbe8fd"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="35da5ff2-a4a9-1ae3-9610-d544d1fcd9e3"] {
    width: 0%;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="35da5ff2-a4a9-1ae3-9610-d544d1fcd9d3"] {
    width: 0%;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="35da5ff2-a4a9-1ae3-9610-d544d1fcd9db"] {
    width: 0%;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="35da5ff2-a4a9-1ae3-9610-d544d1fcd9e7"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="6a8dc7ec-8e71-ef20-075e-2b3b1689b057"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="6a8dc7ec-8e71-ef20-075e-2b3b1689b061"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="6a8dc7ec-8e71-ef20-075e-2b3b1689b060"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="6a8dc7ec-8e71-ef20-075e-2b3b1689b05a"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="6a8dc7ec-8e71-ef20-075e-2b3b1689b05c"] {
    -webkit-transform: translate3d(-65px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(-65px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(-65px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(-65px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="6a8dc7ec-8e71-ef20-075e-2b3b1689b063"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="6a8dc7ec-8e71-ef20-075e-2b3b1689b05d"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a00a7565-446a-3394-c30b-da1f329a96ef"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f0825499-2b16-58a2-24ee-d5b8bedbe8f8"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f0825499-2b16-58a2-24ee-d5b8bedbe90f"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3e5672d5-1720-04d5-e5f7-ff5ce2ecb096"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a00a7565-446a-3394-c30b-da1f329a96f1"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2d97d94d-2e84-cbf6-a22b-2e07c0ce605d"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f0825499-2b16-58a2-24ee-d5b8bedbe906"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="768d19a1-06a6-7c79-c7ae-ba1e54d61ee4"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="35da5ff2-a4a9-1ae3-9610-d544d1fcd9e5"] {
    opacity: 0;
  }
}