@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e198fc2c-fd44-7d43-96f0-82208717aff7"] {
    -webkit-transform: translate3d(0, -4px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -4px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -4px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -4px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e198fc2c-fd44-7d43-96f0-82208717b0bf"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(50deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(50deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(50deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(50deg) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e198fc2c-fd44-7d43-96f0-82208717b0c3"] {
    -webkit-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(70deg) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e198fc2c-fd44-7d43-96f0-82208717affb"] {
    -webkit-transform: translate3d(0, -2px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -2px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -2px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -2px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e198fc2c-fd44-7d43-96f0-82208717b0cc"] {
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e198fc2c-fd44-7d43-96f0-82208717b0ca"] {
    -webkit-transform: translate3d(0, -4px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -4px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -4px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -4px, 0) scale3d(1, 1, 1) rotateX(70deg)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e198fc2c-fd44-7d43-96f0-82208717b0c5"] {
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e198fc2c-fd44-7d43-96f0-82208717b0d0"] {
    -webkit-transform: translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="263a9fa5-58d5-d4e3-906b-9cbd5bc9d5e7"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="263a9fa5-58d5-d4e3-906b-9cbd5bc9d5ef"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="263a9fa5-58d5-d4e3-906b-9cbd5bc9d5e3"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="263a9fa5-58d5-d4e3-906b-9cbd5bc9d5e4"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(20deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(20deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(20deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="263a9fa5-58d5-d4e3-906b-9cbd5bc9d5ec"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(20deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(20deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(20deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="263a9fa5-58d5-d4e3-906b-9cbd5bc9d5e8"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(20deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(20deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(20deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="263a9fa5-58d5-d4e3-906b-9cbd5bc9d5eb"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="263a9fa5-58d5-d4e3-906b-9cbd5bc9d5f0"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(20deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(20deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(20deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(20deg) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2bacdacd-ecfe-0e97-9826-a1701fa5bc77"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2bacdacd-ecfe-0e97-9826-a1701fa5bc7a"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2bacdacd-ecfe-0e97-9826-a1701fa5bc78"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2bacdacd-ecfe-0e97-9826-a1701fa5bc79"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="48ab4b25-3a84-a537-54b1-8df993fbe29b"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="48ab4b25-3a84-a537-54b1-8df993fbe2b6"] {
    width: 100%;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="48ab4b25-3a84-a537-54b1-8df993fbe2ac"] {
    width: 0%;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="48ab4b25-3a84-a537-54b1-8df993fbe296"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="48ab4b25-3a84-a537-54b1-8df993fbe2a6"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="48ab4b25-3a84-a537-54b1-8df993fbe2a8"] {
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="48ab4b25-3a84-a537-54b1-8df993fbe2a0"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6d2"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6a6"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6b1"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6c7"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6a1"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3cf88568-2eed-8ca4-1f81-80078703fd92"] {
    -webkit-transform: translate3d(0, 150%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 150%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 150%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 150%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3cf88568-2eed-8ca4-1f81-80078703fd89"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3cf88568-2eed-8ca4-1f81-80078703fd71"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3cf88568-2eed-8ca4-1f81-80078703fd83"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3cf88568-2eed-8ca4-1f81-80078703fd8f"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3cf88568-2eed-8ca4-1f81-80078703fd91"] {
    width: 100%;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3cf88568-2eed-8ca4-1f81-80078703fd73"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3cf88568-2eed-8ca4-1f81-80078703fd85"] {
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e938ddaf-2726-d108-37fd-f0e4dc710134"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e938ddaf-2726-d108-37fd-f0e4dc710132"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="b8f14785-3184-4849-fb04-926ae89690ca"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="bd572adf-9d0c-df2b-20c9-2b61fdf55bcd"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="bd572adf-9d0c-df2b-20c9-2b61fdf55bc0"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="bd572adf-9d0c-df2b-20c9-2b61fdf55bc2"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="bd572adf-9d0c-df2b-20c9-2b61fdf55bbb"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="bd572adf-9d0c-df2b-20c9-2b61fdf55bb6"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="bd572adf-9d0c-df2b-20c9-2b61fdf55bb7"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="bd572adf-9d0c-df2b-20c9-2b61fdf55bc5"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e938ddaf-2726-d108-37fd-f0e4dc710142"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6a8"] {
    -webkit-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6be"] {
    -webkit-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6c9"] {
    -webkit-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e938ddaf-2726-d108-37fd-f0e4dc710144"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="4c899c94-6a41-a7c3-dc42-c46fb1538eb4"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="4c899c94-6a41-a7c3-dc42-c46fb1538eb6"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7236d765-b4f1-c729-4916-6d6e1688bf26"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7236d765-b4f1-c729-4916-6d6e1688bf28"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2bacdacd-ecfe-0e97-9826-a1701fa5bc7c"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2bacdacd-ecfe-0e97-9826-a1701fa5bc7e"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2bacdacd-ecfe-0e97-9826-a1701fa5bc80"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2bacdacd-ecfe-0e97-9826-a1701fa5bc88"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="48ab4b25-3a84-a537-54b1-8df993fbe291"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="48ab4b25-3a84-a537-54b1-8df993fbe293"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6a3"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3cf88568-2eed-8ca4-1f81-80078703fd6f"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d0d833c5-96c2-88c9-9f4b-8cefa134139e"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="80752d40-cfaa-3363-43c3-068356617f71"] {
    width: 7px;
    height: 7px;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a2780f26-fb30-cdb4-e11d-e12ce1f33877"] {
    opacity: 1;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6c5"] {
    -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6d0"] {
    -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6ba"] {
    -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6af"] {
    -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="da52e791-1b0d-6050-6eaf-de1f17a7bac9"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2cd2e7af-fd24-71d6-8272-86609386c6bc"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3cf88568-2eed-8ca4-1f81-80078703fd82"] {
    opacity: 0;
  }
}
